.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

#imgShowPage {
  height: 160px;
}

.checked {
  color: orange;
}

.search {
  margin-top: 8px;
}
